<h2 align="center">
  Title: <%= @article.title %>
</h2>

<div align="center">
  <ul class="listing">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <li>Created by:</li>
        <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
        <li class="article-title">
          <%= link_to @article.user.username, user_path(@article.user) %>
        </li>
        <li><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
      </div>
    </div>
  </ul>
</div>

<div class="card col-md-8 offset-md-2">
  <h4 class="card-title center">
    <strong>Description</strong>
  </h4>
  <hr>
  <%= simple_format @article.description %>
  <div class="article-actions">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-sm btn-primary"%>
      <%= link_to "Delete this article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger"%>
    <% end %>
    <%= link_to "Back to article listing", articles_path, class: "btn btn-sm btn-success" %>
  </div>
</div>